@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, ul, dl, ol, p {
    margin: 0;
    padding: 0;
}
/* HTML 5 BLOCK */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
li{
    list-style: none;
}
input, button, select, textarea {
    outline:none;
    border: none;
}

/* =======================================================
   Main
======================================================= */
html, body {
    height: 100%;
}
body {
    font: 16px Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}
.container {
    max-width: 800px;
    min-width: 320px;
    margin: 0px auto;
    height: 100%;
    overflow: hidden
}
.chat-box {
    border: 1px solid #dadada;
    background-color: #fff;
    height: 100%;
    position: relative;
}
.chat-content {
    height: 100%;
    overflow: auto;
}
.chat-content .content-list {
    margin: 20px 20px 70px 20px;
}
.chat-content .content-list li{
    margin: 10px 0px;
    font-size: 18px;
    padding: 10px;
    background: #f7f7f7;
}
.chat-content .content-list .list-info{
    line-height: 30px;
}
.chat-content .content-list .list-info:after {
    content: "";
    display: block;
    clear: both;
}
.chat-content .content-list .list-info img{
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.chat-content .content-list .list-info span{
    float: left;
    margin-left: 10px;
    font-size: 16px;
}
.chat-content .content-list .list-info .info-time{
    font-size: 12px;
    color: #666;
}
.chat-content .content-list .list-con{
    margin: 10px 0px;
    font-size: 16px;
    line-height: 120%;
    color: #4c4c4c;
}
.chat-control {
    display: block;
    width: 100%;
    height: 50px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    z-index: 10001;
    overflow: hidden
}
.chat-control .form-group {
    height: 100%;
    display: flex;
}
.chat-control .user-content {
    display: inline-block;
    flex: 6;
    height: 100%;
    border: none;
    background-color: transparent;
    color: #fff;
    text-indent: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    overflow: hidden
}
.chat-control .send-button {
    flex: 3;
    height: 100%;
    background-color: #1f97c5;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    letter-spacing: 5px;
}
.chat-control .online-people {
    flex: 1;
    height: 100%;
    background-color: #000;
    cursor: pointer;
}
.chat-control .online-people .icon-people {
    font-size: 26px;
    color: #fff;
}

/* =======================================================
   Lead
======================================================= */
.chat-lead {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10002;
}
.chat-lead .lead-control {
    margin: 4em;
}
.chat-lead .lead-control .item-label{
    display: block;
    font-size: 28px;
    color: #000;
    margin: 20px 0px;
    letter-spacing: 4px;
}
.chat-lead .lead-control .user-name {
    width: 100%;
    height: 50px;
    text-indent: 10px;
    font-size: 22px;
    border: 1px solid #dadada;
}
.chat-lead .lead-control .user-avatarItem {
    display: inline-block;
    width: 25%;
    text-align: center;
}
.chat-lead .lead-control .user-avatarImg {
    width: 90%;
}
.chat-lead .enter-chat {
    width: 100%;
    height: 50px;
    background-color: #000;
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin: 1.5em 0em;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    cursor: pointer
}

/* =======================================================
   Message
======================================================= */
.admin-message {
    padding-bottom: 10px;
    background-color: #36a910 !important;
    color: #fff !important;
}
.admin-message .message-title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: normal
}
.admin-message .message-content {
    font-size: 12px;
}
.admin-message .people-all span {
    font-size: 12px;
    margin: 5px;
}

/* =======================================================
   Online people
======================================================= */
.online-people-flbox {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 101%;
    background: #fff;
    z-index: 10000;
    overflow: scroll
}
.online-people-flbox .online-list {
    color: #666;
    padding: 20px;
}
.online-people-flbox .online-list li {
    line-height: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.online-people-flbox .online-list li img{
    width: 40px;
    height: 40px;
    border-radius: 2px;
    vertical-align: middle;
    padding-right: 10px;
}

/* =======================================================
   UserEO info
======================================================= */
.userEOinfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 50px;
    background-color: rgba(255,255,255,0.9);
}
.userEOinfo-des {
    font-size: 14px;
    color: #666;
    text-align: center;
}
.userEOinfo-des b {
    font-weight: normal;
    color: #000;
}